@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:wght@400;700&display=swap');

:root {
  --color-background: #fff;
  --color-toc-background: #f5f5f5;
  --color-toc-text: #0e1f41;
  --color-slider-background: #868686;
  --color-slider-before: #ffffff;
  --color-redalert-background: #f7dbdb;
  --color-redalert-items: #d84a49;
  --color-yellowalert-background: #fbf2de;
  --color-yellowalert-items: #ecbf5b;
  --color-greenalert-background: #def3ec;
  --color-greenalert-items: #5ac3a2;
  --color-bluealert-background: #e3eff4;
  --color-bluealert-items: #70b1c5;
  --color-greyalert-background: #efefef;
  --color-greyalert-items: #aeaeae;
  --color-dots: #efefef;
}

[data-theme='dark'] {
  --color-background: #22212b;
  --color-text: #ffffff;
  --color-toc-background: #525252;
  --color-toc-text: #ffffff;
  --color-slider-background: #ffffff;
  --color-slider-before: #2c2c2c;
  --color-redalert-background: #d84a49;
  --color-redalert-items: #f7dbdb;
  --color-yellowalert-background: #ecbf5b;
  --color-yellowalert-items: #fbf2de;
  --color-greenalert-background: #5ac3a2;
  --color-greenalert-items: #def3ec;
  --color-bluealert-background: #70b1c5;
  --color-bluealert-items: #e3eff4;
  --color-greyalert-background: #aeaeae;
  --color-greyalert-items: #efefef;
  --color-dots: #535353;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: 'Mulish', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  scroll-behavior: smooth;
}

/* dark mode  */

.switch {
  position: relative;
  display: inline-block;
  width: 69px;
  height: 35px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-slider-background);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: flex;
}
.sun {
  padding-left: 10px;
}
.moon {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 5px;
  bottom: 4px;
  background-color: var(--color-slider-before);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-slider-background);
}

input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}

.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}

.content-wrapper {
  width: 760px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 32px;
}

.content-wrapper h2 {
  margin: 34px 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 100px;
  color: var(--color-toc-text);
}

.content-wrapper h3 a {
  text-decoration: none;
  color: var(--color-toc-text);
}

.content-wrapper h4 {
  margin: 20px 0;
  font-weight: 800;
  font-size: 25px;
  line-height: 50px;
}

.content-wrapper p {
  line-height: 180%;
}

.alert-container {
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.alert-container p {
  flex: 95%;
  text-align: justify;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .alert-container {
    height: fit-content;
  }
  .alert-container p {
    flex: 90%;
  }
}

.alert-icon {
  flex: 5%;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  mask-repeat: no-repeat;
  mask-position: center;
}

@media screen and (max-width: 600px) {
  .alert-icon {
    flex: 10%;
  }
}

.red-container {
  background-color: var(--color-redalert-background);
  border-left: 5px solid var(--color-redalert-items);
}

.red-alert-icon {
  background-color: var(--color-redalert-items);
  -webkit-mask-image: url('../../public/icons/x-circle.svg');
  mask-image: url('../../public/icons/x-circle.svg');
}

.yellow-container {
  background-color: var(--color-yellowalert-background);
  border-left: 5px solid var(--color-yellowalert-items);
}

.yellow-alert-icon {
  background-color: var(--color-yellowalert-items);
  -webkit-mask-image: url('../../public/icons/info.svg');
  mask-image: url('../../public/icons/info.svg');
}

.green-container {
  background-color: var(--color-greenalert-background);
  border-left: 5px solid var(--color-greenalert-items);
}

.green-alert-icon {
  background-color: var(--color-greenalert-items);
  -webkit-mask-image: url('../../public/icons/check-circle.svg');
  mask-image: url('../../public/icons/check-circle.svg');
}

.blue-container {
  background-color: var(--color-bluealert-background);
  border-left: 5px solid var(--color-bluealert-items);
}

.blue-alert-icon {
  background-color: var(--color-bluealert-items);
  -webkit-mask-image: url('../../public/icons/info.svg');
  mask-image: url('../../public/icons/info.svg');
}

.grey-container {
  background-color: var(--color-greyalert-background);
  border-left: 5px solid var(--color-greyalert-items);
}

.grey-alert-icon {
  background-color: var(--color-greyalert-items);
  -webkit-mask-image: url('../../public/icons/pen-tool.svg');
  mask-image: url('../../public/icons/pen-tool.svg');
}

.toc {
  background-color: var(--color-toc-background);
  padding: 100px 0;
  border-left: 5px solid #aeaeae;
}

.grey-alert-icon {
  background-color: #aeaeae;
  -webkit-mask-image: url('../../public/icons/pen-tool.svg');
  mask-image: url('../../public/icons/pen-tool.svg');
}

.link-container a {
  text-decoration: none;
}

.divider-container {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #0e1f41;
  border-radius: 1px;
}

.divider-container:hover .divider {
  background-color: #ed174c;
}

.jump {
  padding: 0 5px 0 10px;
  font-size: 16px;
  color: var(--color-toc-text);
}

.arrow-container {
  width: 24px;
  height: 24px;
  position: relative;
  margin-bottom: 14px;
}

.divider-container:hover .arrow {
  visibility: hidden;
}

.dots-separator {
  height: 400px;
  display: flex;
  justify-content: center;
}

.content-container .dots-separator:first-child {
  display: none;
}

.jump {
  padding: 0 5px 0 10px;
  font-size: 16px;
  color: var(--color-toc-text);
}

.arrow-container {
  padding-bottom: 6px;
}

.dots-separator {
  height: 400px;
  display: flex;
  justify-content: center;
}

.content-container .dots-separator:first-child {
  display: none;
}

.toc {
  background-color: var(--color-toc-background);
  padding: 100px 0;
  margin-bottom: 166px;
}

.toc ul {
  padding: 0;
  display: flex;
  max-width: 1160px;
  flex-wrap: wrap;
  margin: 0 auto;
  grid-row-gap: 60px;
  grid-column-gap: 50px;
}

.toc ul li {
  list-style: none;
  width: 350px;
}
.toc ul li a {
  color: var(--color-text);
}
.toc-list.heading {
  font-size: 25px;
  text-decoration: none;
  color: var(--color-toc-text);
}

.toc-list.item {
  font-size: 16px;
  line-height: 32px;
  color: var(--color-toc-text);
}

.toc-list.separator {
  margin: 20px 0 20px 0;
}

.header {
  height: 482px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-top: -35px;
}

.header-button {
  display: flex;
  height: 35px;
  padding: 30px 30px 0 30px;
  justify-content: space-between;
}

.cms-button {
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  padding: 15px 30px;
}

.header-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-row-gap: 22px;
}

.header-text {
  font-size: 25px;
  color: var(--color-text);
  margin: 10px;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: 700;
  font-family: 'Mulish';
}

.footer {
  margin-top: 200px;
  height: 482px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: #f5f5f5;
}

@media (max-width: 1150px) {
  .toc ul {
    justify-content: center;
    padding: 0 20px;
  }

  .content-wrapper {
    width: auto;
    margin: 0 37px;
  }
}

@media (max-width: 770px) {
  .header-content {
    max-width: 300px;
  }

  .content-wrapper {
    width: auto;
    margin: 0 30px;
  }
}

@media (max-width: 375px) {
  .toc ul li {
    width: 100%;
  }
}
